.app {
    button {
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;

    }

    .expand-logs-btn {
        float: right;
        width: 150px;
    }

    .filter-results-input {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .log {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dotted grey;
    }

    .logs-cluster {
        border-bottom: 1px solid black;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}